*{
    padding: 0;
    margin: 0;
}
section {
    width: 96%;
    height: 100%;
    margin: 0px auto;
    position: relative;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -30;
}
a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;

}
a:hover {
    transition: 0.3s;
}
.title {
    display: inline-block;
    float: right;
    color: rgb(19, 54, 65);
    line-height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu {
    display: inline-block;
    float: left;
}
nav {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background: #87bee2;
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a{
    padding: 20px 20px;
    display: block;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrap {
    width: 80%;
    margin: 0 auto;
}
.tblmenubox {
    display: inline-block;
    float: left;
    line-height: 50px;
}
.tblmenu {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    background: #01181f;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.tblmenubox {
    display: none;
    visibility: hidden;
}
@media screen and (max-width :800Px){
    .menu{
        display: none;
    }
    .tblmenubox {
        display: block;
        visibility: visible;
    }
    .menu.sh {
        display: block;
        position: absolute;
        top: 50px;
        background: #c3d8e6;
        width: 100%;
        left: 0;
    }
    .menu a:hover {
        color: #fff;
        background: #353535;
    }
    .menu ul li {
        display: block;
        text-align: center;
    }
    .log {
        display: block;
    }
    .log h2 {
        display: block;
        float: right;
    }

}
.log{
    width: 80%;
    height: 220px;
    padding: 50px;
    background: #ffffff40;
    text-align: center;
    margin: auto;
    margin-top: 200px;
}
.log h2{
    background: white;
    width: 300px;
    padding: 40px 20px;
    margin-left: 35%;
    font-weight: bold;  
    font-size: 6vh; 
    font-family: cursive; 
    color: #699dda; 
    border-radius: 20px;
    outline: none; 
}
